#main {
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

#map-view {
    height: 100vh;
    width: 100%;
}

#table-view {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    height: 100vh;
    width: 25%;
    background-color: white;
    overflow: auto;
}

/* #channels-list {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
} */

#system-statuses {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 999;
}

#devices-list {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 999;
}

#devices-operations {
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 999;
}


#display-mode-controls {
    position: absolute;
    top: 10px;
    z-index: 999;
    left: 100px;
}

#display-mode-controls button[data-type="heatmap"] span {
    color: orange;
}

.user-gps-position-icon {
    position: absolute;
    background: red;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    box-shadow: 2px 2px;
}

.access-point-icon {
    position: absolute;
    background: blue;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px;
}

